html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: grid;
  
  justify-items: center;
  align-content: start;
  gap: 50px;
  
}
  .board {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
  }

  .cell {
    font-size: 40px;
    font-weight: bold;
  }

  .main-content {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
  }

  .players {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
    
  }

  .form {
    height: 80px;
    display: flex;
    align-items: center;
  }

  #players-name {
    display:grid;
    justify-items: center;
    gap: 20px;
  }

  .label-input {
    display: grid;
  }

  .player-one, .player-two {
    text-align: center;
  }

  .turn {
    visibility: hidden;
  }